<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
             version="2.1">

    <persistence-unit name="mysql_local">
        <description> Hibernate JPA Configuration Example</description>
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <properties>
            <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
            <property name="hibernate.enable_lazy_load_no_trans" value="true"/>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
            <property name="hibernate.show_sql" value="true" />

            <property name="hibernate.hbm2ddl.auto" value="validate" />
            <!--<property name="hibernate.hbm2ddl.auto" value="update" />-->

            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/emeter" />
            <property name="javax.persistence.jdbc.user" value="vetorlog" />
            <property name="javax.persistence.jdbc.password" value="abcd@1234" />
        </properties>
    </persistence-unit>

    <persistence-unit name="myqsl_staging">
        <description> Hibernate JPA Configuration Example</description>
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <properties>
            <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
            <property name="hibernate.enable_lazy_load_no_trans" value="true"/>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
            <property name="hibernate.show_sql" value="true" />

            <property name="hibernate.hbm2ddl.auto" value="validate" />
            <!--<property name="hibernate.hbm2ddl.auto" value="update" />-->

            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/emeter" />
            <property name="javax.persistence.jdbc.user" value="vetorlog" />
            <property name="javax.persistence.jdbc.password" value="abcd@1234" />
        </properties>
    </persistence-unit>

    <persistence-unit name="myqsl_production">
        <description> Hibernate JPA Configuration Example</description>
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <properties>
            <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
            <property name="hibernate.enable_lazy_load_no_trans" value="true"/>
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
            <property name="hibernate.show_sql" value="true" />

            <property name="hibernate.hbm2ddl.auto" value="validate" />
            <!--<property name="hibernate.hbm2ddl.auto" value="update" />-->

            <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/emeter" />
            <property name="javax.persistence.jdbc.user" value="vetorlog" />
            <property name="javax.persistence.jdbc.password" value="abcd@1234" />
        </properties>
    </persistence-unit>

</persistence>